<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.goven.HuirenDelivery.test1"
    version   = "1.0.0">

<name>汇仁物流</name>

<description>
汇仁医药物流
</description>

<author href="https://example.com" email="you@example.com">
Goven
</author>

<content src="login.html" />
<access origin="*" />
<preference name="Fullscreen" value="true" />
<preference name="WebViewBounce" value="true" />

<icon src="img/icon.png" />

</widget>
