<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.goven.HuirenDelivery"
    version   = "1.0.0">

<name>汇仁医药物流</name>

<description>
汇仁医药物流
</description>

<author href="https://example.com" email="you@example.com">
Goven
</author>

</widget>
